<?xml version="1.0"?>
<model>
    <name>Voliro</name>
    <version>1.0</version>

    <sdf version='1.4'>voliro.sdf</sdf>

    <author>
        <name>Project Voliro</name>
        <email>contact@voliro.ch</email>
    </author>

    <description>
        This is a model of the Voliro Hexacopter.
    </description>
</model>
