<launch>
  <arg name="mav_name" default="mockingbird" />
  <group ns="$(arg mav_name)">
    <rosparam file="$(find rotors_control)/config/servo_motor_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"  args="joint1_position_controller joint_state_controller">
      <remap from="robot_description" to= "$(arg mav_name)/robot_description"/>
    </node>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <!-- <rosparam file="$(find wall_racing_control)/config/vertigo_control.yaml" command="load"/> -->
    <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- load the controllers -->

      <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
      <remap from="/joint_states" to="/$(arg mav_name)/joint_states" />
    </node> -->
    <!-- <node name="trajectory_generation_tracking" pkg="wall_racing_control" type="trajectory_generation_tracking.py" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="stp_world_map" args="0 0 0 0 0 0 world map 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_world_ground_truth" args="0 0 0 0 0 0 world vertigo/ground_truth 1" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="stp_ground_truth_base_link" args="0 0 0 0 0 0 vertigo/ground_truth base_link 1" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="stp_base_link_inertia_backwheelleft" args="-0.2 -0.23 0 0 0 0 base_link_inertia backwheelleft_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_base_link_inertia_backwheelright" args="-0.2 0.23 0 0 0 0 base_link_inertia backwheelright_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_frontwheelleftsteering_frontwheelleft_link" args="0 0.02 0 0 0 0 frontwheelleft_steering_link frontwheelleft_wheel_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_frontwheelrightsteering_frontwheelright_link" args="0 -0.02 0 0 0 0 frontwheelright_steering_link frontwheelright_wheel_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_rotormotor_front_rotor_0" args="0 0 0.03 0 3.14159265359 0 rotormotor_front_link rotor_0 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_rotormotor_back_rotor_1" args="0 0 0.03 0 3.14159265359 0 rotormotor_back_link rotor_1 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_base_link_ground_truth_odometry_sensorgt_link" args="0 0 0 0 0 0 vertigo/ground_truth vertigo/ground_truth/odometry_sensorgt_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_base_link_imu_link" args="0 0 0 0 0 0 vertigo/ground_truth vertigo/imu_link 1" />
    <node pkg="tf" type="static_transform_publisher" name="stp_base_link_imugt_link" args="0 0 0 0 0 0 vertigo/ground_truth vertigo/imugt_link 1" /> -->
  </group>
</launch>
